html
  body
    .container.clearfix
      #people-list.people-list
        .search
          input(type='text', placeholder='search', ng-model="username")
          a.searchUser(href="", ng-click="searchUser(username)")
            i.fa.fa-search

        ul.list
          li.clearfix(ng-show='userSearch')
            a.conversation(href="", ng-click="chatWith(userSearch)")
              .about
                .name {{userSearch.username}}
                .status
                  span(ng-if='userSearch.online == true')
                    i.fa.fa-circle.online
                    |  online
                  span(ng-if='userSearch.online != true')
                    i.fa.fa-circle.offline
                    |  offline
          li.clearfix(ng-repeat='user in users')
            a.conversation(href="", ng-click="chatWith(user)")
              .about
                .name {{user.username}}
                .status
                  span(ng-if='user.online == true')
                    i.fa.fa-circle.online
                    |  online
                  span(ng-if='user.online != true')
                    i.fa.fa-circle.offline
                    |  offline

      .chat(ng-show='chattingWith')
        .chat-header.clearfix
          .chat-about
            .chat-with Chat with {{chattingWith.username}}
        // end chat-header
        .chat-history(scroll-glue)
          ul
            li(ng-class="{clearfix: msg.useridFrom == me.userid}", ng-repeat="msg in msgs")
              div(ng-if='msg.useridFrom == me.userid')
                .message-data.align-right
                  span.message-data-time 10:10 AM, Today
                  span.message-data-name {{me.username}}
                  i.fa.fa-circle.me
                .message.other-message.float-right
                  | {{msg.msg}}
              div(ng-if='msg.useridFrom != me.userid')
                .message-data
                  span.message-data-name
                    i.fa.fa-circle.online 
                    | {{chattingWith.username}}
                  span.message-data-time 10:12 AM, Today
                .message.my-message
                  | {{msg.msg}}


        // end chat-history
        .chat-message.clearfix
          textarea#message-to-send(on-enter="sendMsg(newMsg)", ng-model='newMsg', placeholder='Type your message', rows='3')
          // Add emoticone support
          // <i class="fa fa-file-o"></i>
          button(ng-click="sendMsg(newMsg)") Send
        // end chat-message
      // end chat
    // end container
