doctype html
html
	head
		meta(charset="utf-8")
		base(href='/')
		title= title
		
		link(rel='stylesheet', href='/stylesheets/reset.css', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
		link(rel='stylesheet prefetch', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', type='text/css')


	body(ng-app="avitoApp")
		block body

