extends head

block body

	div(ng-view)

	script(src="http://chat.avito.local/socket.io/socket.io.js")

	script(src='/javascripts/vendor/jquery/dist/jquery.js')
	script(src='/javascripts/vendor/underscore/underscore.js')
	script(src='/javascripts/vendor/moment/moment.js')

	script(src='/javascripts/vendor/angular/angular.js')
	script(src='/javascripts/vendor/angular-route/angular-route.js')
	script(src='/javascripts/underscore.js')
	script(src='/javascripts/vendor/angular-notify-toaster/toaster.js')
	script(src='/javascripts/vendor/angular-moment/angular-moment.js')
	script(src='/javascripts/vendor/angularjs-scroll-glue/src/scrollglue.js')
	script(src='/javascripts/vendor/angular-safeapply/safe-apply.js')

	script(src='/javascripts/app.js')
	script(src='/javascripts/services/socket.js')
	script(src='/javascripts/controllers/chat.js')
	script(src='/javascripts/controllers/login.js')

	
