<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Chat Widget</title>
    
    
    <link rel="stylesheet" href="css/reset.css">

    <!-- <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'> -->

    <link rel="stylesheet" href="css/style.css">
    
    
  </head>

  <body ng-app="avitoApp">

    <div class="container clearfix" ng-controller="chatCtrl">
      <div class="people-list" id="people-list">
        <!-- <div class="search">
          <input type="text" placeholder="search" />
          <i class="fa fa-search"></i>
        </div> -->
        <ul class="list">
          <li class="clearfix">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" /> -->
            <div class="about">
              <div class="name">Vincent Porter</div>
              <div class="status">
                <i class="fa fa-circle online"></i> online
              </div>
            </div>
          </li>
        
          <li class="clearfix">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" /> -->
            <div class="about">
              <div class="name">Aiden Chavez</div>
              <div class="status">
                <i class="fa fa-circle offline"></i> left 7 mins ago
              </div>
            </div>
          </li>
        
          <li class="clearfix">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="avatar" /> -->
            <div class="about">
              <div class="name">Mike Thomas</div>
              <div class="status">
                <i class="fa fa-circle online"></i> online
              </div>
            </div>
          </li>
        
        </ul>
      </div>
    
      <div class="chat">
      <div class="chat-header clearfix">
        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" /> -->
        
        <div class="chat-about">
          <div class="chat-with">Chat with Vincent Porter</div>
          <div class="chat-num-messages">already 1 902 messages</div>
        </div>
      </div> <!-- end chat-header -->
      
      <div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
              Hi Vincent, how are you? How is the project coming along?
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Are we meeting today? Project has been already finished and I have results to show you.
            </div>
          </li>
          
          
          <!-- <li>          
          
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
              <span class="message-data-time">10:31 AM, Today</span>
            </div>
            <i class="fa fa-circle online"></i>
            <i class="fa fa-circle online" style="color: #AED2A6"></i>
            <i class="fa fa-circle online" style="color:#DAE9DA"></i>
          </li> -->
        </ul>
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
        <!-- Add emoticone support -->
        <!-- <i class="fa fa-file-o"></i> --> 
        
        <button>Send</button>
      </div> <!-- end chat-message -->
      </div> <!-- end chat -->
    </div> <!-- end container -->


<script src="http://chat.avito.local/socket.io/socket.io.js"></script>
<script src="/javascripts/vendor/jquery/dist/jquery.js"></script>
<script src="/javascripts/vendor/moment/moment.js"></script>
<script src="/javascripts/vendor/angular/angular.js"></script>
<script src="/javascripts/vendor/angular-route/angular-route.js"></script>
<script src="/javascripts/vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="/javascripts/vendor/angular-animate/angular-animate.js"></script>
<script src="/javascripts/vendor/angular-notify-toaster/toaster.js"></script>
<script src="/javascripts/vendor/angular-moment/angular-moment.js"></script>
<script src="/javascripts/vendor/angular-safeapply/safe-apply.js"></script>

<script src="javascripts/app.js"></script>
<script src="javascripts/services/socket.js"></script>
<script src="javascripts/controllers/chat.js"></script>

  </body>
</html>
